<aside class="sidebar-right">
  <div class="friends">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h6 class="fw-bold m-0">החברים שלי</h6>
      <button id="addFriendBtn" class="btn btn-sm btn-outline-primary">+</button>
    </div>

    <div id="friendSearchSection" style="display: none;">
      <input type="text" id="friendSearchInput" class="form-control form-control-sm mb-2" placeholder="חפש חבר לפי שם..." />
      <div id="searchResults" class="list-group small"></div>
    </div>

    <div id="friendsList"></div>
  </div>
  <hr class="my-3" />
  <div class="books">
    <h6 class="fw-bold mb-2">חיפוש ספרים מGoogle Books</h6>
    <input id="bookSearchInput" type="text" class="form-control form-control-sm mb-2" placeholder="הכנס שם ספר.." />
    <div id="bookSearchResults" class="list-group small"></div>
  </div>

  <div class="card mt-4">
  <div class="card-header fw-bold text-center">📍 מפה לפי מיקום משתמשים</div>
  <div class="card-body p-0">
    <div id="user-map" style="width: 100%; height: 300px;"></div>
  </div>
</div>

</aside>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIlmXXvuUYx3vxsddpHZw22G2CQLeAAlQ&callback=initMap"
  async defer>
</script>