<aside class="sidebar-left">
  <div class="groups">
    <h6 class="fw-bold mb-3">הקבוצות שלי</h6>

    <div class="group-item d-flex align-items-center p-2 mb-2 rounded shadow-sm">
      <img src="./images/ido_photo.jpg" class="avatar me-3" alt="אוהבי הארי פוטר" />
      <div class="group-info">
        <div class="fw-bold">אוהבי הארי פוטר</div>
        <div class="text-muted small">31 חברים</div>
      </div>
    </div>

    <div class="group-item d-flex align-items-center p-2 mb-2 rounded shadow-sm">
      <img src="./images/other_group.jpg" class="avatar me-3" alt="מדע בדיוני" />
      <div class="group-info">
        <div class="fw-bold">מדע בדיוני</div>
        <div class="text-muted small">12 חברים</div>
      </div>
    </div>

  </div>
</aside>
