<aside class="sidebar-right">
  <div class="friends">
    <h6 class="fw-bold mb-3">החברים שלי</h6>

    <div class="friend-item d-flex align-items-center p-2 mb-2 rounded shadow-sm">
      <img src="./images/ido_photo.jpg" class="avatar me-3" alt="עידו טסה" />
      <div class="friend-info">
        <div class="fw-bold">עידו טסה</div>
      </div>
    </div>

    <div class="friend-item d-flex align-items-center p-2 mb-2 rounded shadow-sm">
      <img src="./images/other_group.jpg" class="avatar me-3" alt="שירי יונה" />
      <div class="friend-info">
        <div class="fw-bold">שירי יונה</div>
      </div>
    </div>

  </div>
</aside>
